ansible/*.retry
scenarios/**/*.pyc
scenarios/*/results/*
scenarios/*/.tkenvrc
src/artery/messages/*_m.cc
src/artery/messages/*_m.h
www/
.vagrant/
*.log
Makefile
.vscode/
build/


.settings/
.project
results/

omnetpp-5.6.2/samples/.metadata/
omnetpp-5.6.2/samples/inet/
omnetpp-5.6.2/samples/.metadata/.log
omnetpp-5.6.2/samples/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

#tictoc tutorial
omnetpp-5.6.2/samples/tictoc/.settings/
omnetpp-5.6.2/samples/tictoc_ll/.qtenvrc
omnetpp-5.6.2/samples/tictoc_ll/tictoc_ll
omnetpp-5.6.2/samples/tictoc_ll/tictoc_ll_dbg
omnetpp-5.6.2/samples/tictoc_ll/out/    
omnetpp-5.6.2/samples/tictoc_ll/.computed/  
/.metadata/

*.anf
omnetpp-5.6.2/samples/tictoc/.qtenvrc
